# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Project/.vs/
Project/출력-디버그.txt
Project/Cpp1_3/Debug/
Project/Cpp1_4YH/Debug/
Project/Cpp2_1YH/Debug/
Project/Cpp2_1YH/x64/
Project/Cpp2_2Yh/x64/
